body {
    --font-size-default: 16px;
    --font-family-default: var(--font-roboto), Arial, sans-serif;

    --clr-text-default: #222020;
    --clr-text-grey: #7a7a7a;
    --clr-yellow: #ffde00;
    --clr-white: #ffffff;
    --clr-grey: #f4f4f4;

    --clr-theme-main: #056943;
    --clr-price: #c60c0c;
}
