body {
    --font-size-default: 16px;
    --font-family-default: var(--font-roboto), Arial, sans-serif;

    --fz-default: 16px;
    --ff-default: var(--font-roboto), Arial, sans-serif;

    --fw-light: 200;
    --fw-regular: 400;
    --fw-bold: 700;

    // COLORS
    --clr-text-default: #222020;
    --clr-text-grey: #7a7a7a;
    --clr-link-default: #0000ee;
    --clr-text-logo: #383838;

    --clr-red: #f0120e;
    --clr-yellow: #f0ef0e;
    --clr-light-green: #32cd32;
    --clr-dark-green: #008000;
    --clr-white: #ffffff;
    --clr-grey: #f0f2f5;
    --clr-black: #000000;
    --clr-darkgrey: #232222;

    --clr-theme-1: #65edfc;
    --clr-theme-2: #4ca0de;
    --clr-theme-3: #658efc;
    --clr-theme-4: #6d65fc;
    --clr-theme-5: #b9cbfc;

    --clr-disabled-border: #999999;
    --clr-disabled-bg: #cccccc;
    --clr-disabled-color: #666666;

    --navbar-height: 60px;
}

.active {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}
