/* Navbar na desktopie */
.navbar {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px 20px;
}

.navLinks {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navLinks li a {
  color: white;
  text-decoration: none;
}

.navLinks li a:hover {
  text-decoration: underline;
}

/* Mobile styles */
.mobileContainer {
  position: relative;
}

.hamburger {
  font-size: 24px;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  animation: test 2s;


}

@keyframes test {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

.sidebarLinks {
  list-style-type: none;
  padding: 0;
}

.sidebarLinks li {
  margin: 20px 0;
}

.sidebarLinks li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.closeButton {
  font-size: 20px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}