.submenu {
    text-indent: 0.5rem;
    width: 300px;
    height: 0;
    visibility: hidden;
    transition: height 0.5s ease;
    @supports (interpolate-size: allow-keywords) {
        transition:
            height 0.5s ease,
            visibility 0.05s linear;
    }
    & li {
        font-weight: var(--fw-regular);
        color: var(--clr-black);
        border-bottom: 1px solid var(--_border_clr);
    }
    & li :hover,
    & li :focus-visible {
        background-color: var(--clr-theme-2);
        font-weight: var(--fw-bold);
        color: var(--clr-white);
    }
    & .active {
        color: var(--clr-black);
        font-weight: var(--fw-bold);

        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 3px;
    }
    & a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0.5rem 0.75rem;
        font-size: clamp(1rem, 0.65rem + 0.5vw, 1.1rem);
    }

    & a:hover,
    & a:focus-visible {
        color: var(--clr-black);
        background-color: var(--clr-theme-2);
        border-bottom: none;
        outline: 1px solid var(--_border_clr);
    }
}
.visible {
    visibility: visible;
    height: max-content;
}

// Subcategory menu item
.subCategoryMenu {
    position: relative;
    transition: transform 0.3s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.75rem;
    &::after {
        content: "▼";
        position: absolute;
        transform: scale(1.1, 0.6);
        rotate: 180deg;
        right: 1rem;
        top: 0.6rem;
        transition: rotate 0.3s ease;
    }
    &:hover,
    &:focus-visible {
        color: var(--clr-black);
    }
}
.open {
    &::after {
        content: "▼";
        rotate: 0deg;
        display: flex;
    }
}
