.form {
    display: grid;
    // gap: 1rem;
    margin-inline: auto;
    // border: 2px solid var(--clr-theme-2);
    background-color: var(--clr-white);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 0.5rem 2rem 1.5rem 2rem;
    border-radius: 1rem;

    & input {
        border: 1px solid black;
    }
    & label:has(+ input:focus-visible),
    & label:has(+ input:not(:placeholder-shown)),
    & label:has(+ textarea:focus-visible),
    & label:has(+ textarea:not(:placeholder-shown)) {
        transform: translateY(0.8rem);
        background: linear-gradient(
            0deg,
            var(--clr-grey) 0%,
            var(--clr-grey) 40%,
            var(--clr-white) 40%,
            var(--clr-white) 100%
        );
        color: var(--clr-black);
        font-weight: var(--fw-bold);
        font-size: 1rem;
    }

    & div {
        display: grid;
    }

    &__label {
        width: fit-content;
        padding-inline: 0.025rem;
        margin-bottom: 0.25rem;
        margin-left: 0.5rem;
        font-weight: var(--fw-normal);
        color: var(--clr-disabled-color);
        transform: translateY(2rem);
        transition: transform 0.2s ease;
    }
    &__input {
        padding: 0.5rem;
        border-radius: 0.25rem;
        background-color: var(--clr-grey);
        &:focus-visible {
            border: 1px solid var(--clr-theme-2);
        }
    }

    &__textarea {
        min-height: 100px;
        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color: var(--clr-grey);
    }
    .error {
        color: var(--clr-red);
        font-style: italic;
        margin-left: 0.5rem;
        margin-top: 0.125rem;
        font-size: 0.9rem;
    }

    .valid:not(:placeholder-shown),
    .valid:not(:placeholder-shown):focus-visible {
        border: 2px solid var(--clr-light-green);
        background-color: var(--clr-white);
    }
    label:has(+ .valid:not(:placeholder-shown)) {
        color: var(--clr-light-green);
        background: var(--clr-white);
    }
    .invalid {
        border: 2px solid var(--clr-red);
        background: var(--clr-white);
    }
    label:has(+ input.invalid),
    label:has(+ textarea.invalid) {
        color: var(--clr-red);
        background: var(--clr-white);
    }

    .success {
        color: var(--clr-dark-green);
    }
}

.form__rodo {
    & div {
        display: block;
    }
    text-wrap: pretty;
    margin-block: 1rem;
    & input[type="checkbox"] {
        vertical-align: -4px;
        margin-inline: 0rem 0.5rem;
        width: 1.2rem;
        aspect-ratio: 1;
        accent-color: limegreen !important;
    }
    & span {
        font-style: italic;
        margin-inline: 0.5ch;
    }
}

@media (max-width: 1000px) {
    .form {
        margin-inline: 2rem;
    }
}
