.blogPost {
    display: grid;
    justify-content: center;
    background-color: var(--clr-white);
    margin: 0 auto 1.5rem auto;
    padding: 2rem 2rem 2.5rem 2rem;
    max-width: 900px;
    border-radius: 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    font-size: clamp(1rem, 1vw, 1.1rem);

   

    &__title {
        font-size: clamp(1.5rem, 1vw + 1.5rem, 2.5rem);
        margin-block: 2.5rem 0.5rem;
        color: var(--clr-theme-2);
        text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
        text-align: center;
    }

    h3 {
        font-size: clamp(1.1rem, 1vw, 1.25rem);
        margin-block: 1.5rem 0rem;
        text-indent: 2.5rem;
        text-align: center;
    }

    p {
        max-width: 90ch;
        margin-block: 0.5rem 0;
        margin-inline: 1rem;
        line-height: 1.6;
        color: var(--clr-black);
        text-indent: 1rem;
        text-wrap: pretty;
        
    }
    ul,ol {
        margin-inline: 1rem;
        margin-block: 0.5rem 1rem;
        padding-left: 2rem;
        list-style-type: disc;
        font-style: italic;
        color: var(--clr-black);
        text-wrap: pretty;
        line-height: 1.4;
        & li {
            list-style: "🔹";
            
            & li {
                list-style: "- ";
            }
        }
    }
    ol li {
        list-style: counter+" ";

    }
    li {margin-block: 0.5rem 0.5rem;}

    strong {
        font-weight: var(--fw-bold);
    }
    hr {
        margin-block: 1rem;
    }
    // IMG
    & p:has(img) {
        margin:0;
    }
    img {
        object-fit: cover;
        max-height: 50vh;
        width: auto;
        max-width: 100%;
        margin-inline: auto;
        margin-block: 0.75rem;
    }

    a {
        // margin-bottom: 0.25rem;
        text-wrap: pretty;
        word-wrap: break-word;
        font-style: italic;
        text-decoration: underline;
        font-weight: var(--fw-bold);
        
        
        &:hover,&:focus-visible {
            color: var(--clr-link-default);
        }
    }

    & div:has(button) {
        display: flex;
        justify-content: center;
        margin-block: 5rem 0rem;
        & button {
            min-width: 300px;
        }
    }
}

