.blogPost {
    display: grid;
    justify-content: center;
    background-color: var(--clr-white);
    margin: 0 auto 3rem auto;
    padding: 2rem 2rem 4rem 2rem;
    max-width: 900px;
    border-radius: 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
   
}
