.footer {
    --_link_shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);

    background-color: var(--clr-theme-2);
    color: var(--clr-white);
    display: grid;
    grid-template-columns: 1fr minmax(1000px, 1fr) 1fr;
    container: footer / inline-size;
    padding-block: 0.5rem;

    &__wrapper {
        margin-inline: 2rem;
        grid-column: 2;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    &__card,
    &__links {
        display: inline-flex;
        align-items: center;
        filter: drop-shadow(var(--_link_shadow));
        & a {
            transition:
                transform 0.3s ease,
                filter 0.3s ease;
        }
        & a:hover,
        & a:focus-visible {
            filter: drop-shadow(var(--_link_shadow));
            transform: scale(1.05);
            font-weight: var(--fw-bold);
        }
    }
    &__card {
        & a:nth-child(2) {
            font-weight: var(--fw-bold);
            margin-inline: 0 0.75rem;
        }
    }

    &__links {
        gap: 1rem;
        a:hover,
        a:focus-visible {
            filter: drop-shadow(var(--_link_shadow));
        }
    }

    &__logo {
        height: auto;
        width: 3rem;
        margin-inline: 0 auto;
    }

    &__socials {
        display: inline-flex;
        align-items: center;
        & a {
            filter: drop-shadow(var(--_link_shadow));
            transform: scale(0.8);
            transition:
                transform 0.3s ease,
                filter 0.3s ease;

            &:hover,
            &:focus-visible {
                transform: scale(1.05);
                filter: drop-shadow(var(--_link_shadow));
            }
        }
    }

    @container (max-width: 1000px) {
        &__wrapper {
            padding-block: 1rem;
            grid-template-columns: 1fr;
            display: grid;
            grid-column: 1;
        }

        & section {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 1rem;
            text-wrap: nowrap;
        }

        &__logo {
            margin-inline: 0;
        }
    }

    & .active {
        font-weight: var(--fw-bold);
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 3px;
        color: var(--clr-black);
        transform: scale(1.1);
        box-shadow: none;
    }
}
@media (max-width: 1000px) {
    .footer {
        grid-template-columns: 1fr;
    }
}
