.navbar {
    display: flex;
    justify-content: space-between;

    & > ul {
        display: flex;
        align-items: center;

        & > li {
            display: flex;
            cursor: pointer;

            &:hover {
                color: lightcyan;
            }

            // Links
            & > a {
                margin: 1rem 0.5rem;
            }
        }
    }

    & .active {
        font-weight: 700;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 3px;
    }
}

.dropDown {
    position: relative;
}
