.map {
    height: 500px;
    width: 90vw;
    margin-inline: auto;
}

.bold {
    font-weight: var(--fw-bold);
}

// PopUp
.map div:global(.leaflet-popup-content-wrapper) {
    padding: 10px 5px 5px 5px;
    text-align: center;
    background-color: lightblue;
}
.map div:global(.leaflet-popup-tip) {
    background-color: black;
}

// ToolTip
.tooltip {
    background-color: transparent;
    border: None;
    box-shadow: None;
    &::before {
        display: none;
    }
}
