.legalBasisWrapper {
    & h3.name {
        font-weight: var(--fw-bold);
        font-size: 1.25rem;
        margin-block: 1.25rem 0.25rem;
    }
    p {
        text-indent: 1.5rem;
    }
    p,
    li {
        // margin-bottom: 0.25rem;
        text-wrap: pretty;
        line-height: 1.35rem;
        word-wrap: break-word;
    }

    & li {
        &:before {
            content: "-";
            margin-inline: 1.5rem 0.5rem;
        }
        a:hover {
            color: var(--clr-link-default);
        }
    }
}
