.legalBasisWrapper {
    & h3.name {
        font-weight: var(--fw-bold);
        font-size: 1.25rem;
        margin-block: 3rem 0.25rem;
    }

 
    li {
        // margin-bottom: 0.25rem;
        text-wrap: pretty;
        line-height: 1.35rem;
        word-wrap: break-word;
        font-style: italic;
        &:before {
            content: "-";
            margin-inline: 1.5rem 0.5rem;
        }
        a:hover,&:focus-visible {
            color: var(--clr-link-default);
        }
    }

}
