.dropDownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    min-width: max-content;
    background-color: lightblue;
    color: black;
    border: 1px solid black;
    opacity: 0;
    transition:
        display 0.25s cubic-bezier(0.1, 0.76, 0.58, 1),
        opacity 0.25s cubic-bezier(0.1, 0.76, 0.58, 1);
    transition-behavior: allow-discrete;
    & a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0.5rem 0.75rem;
    }
    & li:not(:last-child) {
        border-bottom: 1px solid black;
    }
    & li:hover {
        color: lightcyan;
    }
}
.open {
    display: grid;
    opacity: 1;
    @starting-style {
        display: grid;
        opacity: 0;
    }
}
