.contact__layout {
  display: grid;
  max-width: 1000px;
  grid-template-columns: repeat(2, 1fr);
  margin-inline: auto;
  margin-block: 2rem;
  gap: 2rem;

  & h1,
  h2 {
    font-size: 2rem;
    border-bottom: 2px solid var(--clr-theme-2);
    margin-block: 2rem;
    padding-bottom: 0.25rem;
    width: fit-content;
  }
}
