.contactLayout {
    display: grid;
    max-width: 1000px;
    grid-template-columns: 1fr 1.125fr;
    margin-inline: auto;
    margin-block: 2rem 3rem;
    padding-top: 2rem;
}

.contactHeader {
    position: relative;
    top: 3rem;
    left: 0;
    margin-inline: auto;
    max-width: 1000px;
    // & div {
    //     margin-inline: 3rem;
    // }
}
@media (max-width: 1000px) {
    .contactLayout {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 0;

    }
    .contactHeader {
        margin-inline: auto;
        margin-bottom:4rem;
    }
}
