.contactLayout {
    display: grid;
    max-width: 1000px;
    grid-template-columns: 1fr 1.125fr;
    margin-inline: auto;
    margin-block: 2rem 3rem;
    padding-top: 2rem;

    &__wrapper {
        max-width: 400px;
        margin-inline: auto 3rem;
        // margin-inline: 2rem;
    }
    &__wrapper:nth-last-of-type(1) {
        margin-inline: 3rem auto;
    }
    & h1,
    h2 {
        font-size: 2rem;
        color: var(--clr-theme-2);
        filter: drop-shadow(1px 2px 5px rgba(0, 0, 0, 0.2));
        text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
        margin-inline: auto;
        margin-block: 1.5rem 0.25rem;
        padding-bottom: 0.25rem;
        width: fit-content;
    }
}
.contactHeader {
    position: relative;
    top: 3rem;
    left: 0;
    margin-inline: auto;
    max-width: 1000px;
    & div {
        margin-inline: 2rem;
    }
}
@media (max-width: 1000px) {
    .contactLayout {
        min-width: 400px;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 0;
        &__wrapper {
            max-width: 500px;
            margin-inline: auto;
        }
        &__wrapper:nth-of-type(2) {
            margin-block: 3rem 3rem;
            margin-inline: auto;
        }
        & h1,
        h2 {
            margin-inline: auto;
            margin-block: 1.5rem;
        }
    }
    .contactHeader {
        min-width: max(400px, 75%);
        margin-inline: auto;
    }
}
