.contactLayout {
    display: grid;
    max-width: 1000px;
    grid-template-columns: 1fr 1.125fr;
    margin-inline: auto;
    margin-block: 2rem;
    gap: 2rem;

    &__wrapper {
        margin-inline: 2rem;
    }
    & h1,
    h2 {
        font-size: 2rem;

        margin-inline: auto;
        margin-block: 1.5rem 0.25rem;
        padding-bottom: 0.25rem;
        width: fit-content;
    }
}

@media (max-width: 1000px) {
    .contactLayout {
        min-width: 400px;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 0;
        &__wrapper {
            max-width: 500px;
            margin-inline: auto;
        }
        &__wrapper:nth-of-type(2) {
            margin-block: 3rem 3rem;
        }
        & h1,
        h2 {
            margin-inline: auto;
            margin-block: 1.5rem;
        }
    }
}
