.companyInfo {
    display: block;
    width: fit-content;
    padding: 2rem;
    background-color: var(--clr-white);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    margin-inline: auto;

    & h4,
    & h5 {
        font-size: 1.15rem;
        margin-bottom: 0.35rem;
        text-wrap: pretty;
    }

    & section:first-of-type {
        margin-bottom: 2.5rem;
    }

    & section.address {
        & p:not(:last-child) {
            margin-bottom: 0.35rem;
        }

    }
}

@media (max-width: 1000px) {
    .companyInfo {
        width: unset;
        max-width: 350px;
        padding: 1.5rem;
        & section:first-of-type {
            margin-bottom: 1.5rem;
        }
    }
}
