.button {
    background-color: transparent;
    border: 2px solid var(--clr-theme-2);
    border-radius: 0.75rem;
    color: var(--clr-theme-2);
    padding: 0.5rem 1rem;
    transform: scale(0.95);
    transition:
        background-color 0.3s ease,
        color 0.3s ease,
        transform 0.3s ease;
    &:hover,
    :focus-visible {
        background-color: var(--clr-theme-2);
        color: var(--clr-white);
        transform: scale(1);
    }
    &:disabled,
    &[disabled] {
        border: 1px solid var(--clr-disabled-border);
        background-color: var(--clr-disabled-bg);
        color: var(--clr-disabled-color);
        transform: scale(0.95);
    }
}
