.grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 1.5rem;
    max-width: 1000px;
    margin-top: 3rem;
    margin-inline: auto;

    justify-items: center;
    align-items: start;

    h1 {
        --_border_clr: rgba(0, 0, 0, 0.2);
        font-size: 1.35rem;
        line-height: 2.5rem;
        padding-left: 0.75rem;
        background-color: var(--clr-theme-2);
        border: 1px solid var(--_border_clr);
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        color: var(--clr-white);
        font-weight: var(--fw-normal);
        box-shadow: 0px 5px 15px var(--_border_clr);
    }
}

@media (max-width: 1000px) {
    .grid {
        grid-template-columns: 1fr;
        margin-inline: 2rem;
        margin-bottom: 3rem;

        // justify-items: stretch;
        & h1 {
            text-align: center;
        }
        & a {
            justify-content: center;
            padding: 0.5rem 1.25rem;
        }
    }
}
