.grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 1.5rem;
    max-width: 1100px;
    margin-top: 3rem;
    margin-inline: auto;
    justify-items: center;
    align-items: start;

    & .header {
        grid-column: 2;
        & img {
            width: 90%;
            height: 90%;
        }
    }
    & .menu {
        grid-column: 1;
        grid-row: 1/3;
    }
    .footerDescription{
                grid-column: 2;
    }

}

@media (max-width: 1200px) {
.grid {
        grid-template-columns: 1fr;
        margin-inline: 2rem;
        margin-bottom: 3rem;
        & .header {
            grid-column: 1;
            grid-row: 1;
        }
        & .menu {
            grid-column: 1;
            grid-row: 2;
        }
        .footerDescription{
                grid-column: 1;
    }
    }
}

@media (max-width: 600px) {
    .grid {
        margin-inline:0.75rem;
    }
}
