.serviceDescription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    // width: 70ch;
    background-color: var(--clr-white);
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

    &__wrapper {

        margin-inline: 1.5rem;
        padding-inline: 0.5rem;
    }

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
        border-radius: 1rem;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        margin-bottom: 0.5rem;
        filter: brightness(0.99) sharpen(1.1);
    }

    & h2 {
        color: var(--clr-theme-2);
        font-size: 2rem;
        margin-block: 0.5rem 0.5rem;
        align-self: center;
        margin-bottom: 1.5rem;
        text-wrap: balance;
        text-align: center;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.6);

    }
    &__name {
        font-weight: var(--fw-bold);
        font-size: 1.25rem;
        margin-block: 1.25rem 0.25rem;
    }

    .listItem {
    margin-left: 3rem;
    margin-bottom: 0.35rem;
    font-style: italic;
    line-height: 1.4;
    }
    .paragraph {
        margin-block: 0.25rem 0.5rem;
        text-indent: 1.5rem;
        text-wrap: pretty;
        line-height: 1.35rem;
        word-wrap: break-word;
    }

    // First paragraph after a list item
    p.listItem:has(+ p.paragraph)+p {
        margin-block: 1.25rem 0.5rem;
    }
    span {
        font-weight: var(--fw-bold);
    }

}
@media (max-width: 1200px) {
    .serviceDescription {
        grid-column: 1;
    }
}
@media (max-width: 600px) {
    .serviceDescription {
        padding: 1rem;
    }
}