.cards {

    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(220px, 220px));
    justify-content: center;
    grid-auto-rows: 150px auto auto;
    // max-width: 1200px;
    margin-inline:auto;
    padding-inline: 2rem;
    padding-block: 4rem;
    position: relative;

    &:has(li:hover) > li:not(li:hover) {
        filter: grayscale(1) opacity(0.5);
    }
}


.cards__background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.85) opacity(0.9) saturate(1.1) contrast(1.1);
    }
