@use "../../styles/constants" as c;
.topbar {
    background-color: var(--clr-white);
    display: grid;
    position: sticky;
    top: 0;
    grid-template-columns: c.$grid-temp-col;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    // container: topbar / inline-size;
    z-index: 10;
    min-height: var(--navbar-height);
    &__wrapper {
        grid-column: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // Adjust logo to left
    &__logo {
        margin-inline: 0 auto;
        height: 2.75rem;
        width: 16rem;
    }
    & > div > a {
        filter: drop-shadow(var(--_link_shadow));

        transition: transform 0.3s ease;
        // filter 0.3s ease;

        &:hover,
        &:focus-visible {
            transform: scale(1.025);
            filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
        }
    }
    @media (max-width: 1000px) {
        &__wrapper {
            grid-column: 1;
            justify-content: space-between;
            margin-inline: 2rem;
        }
    }
}
@media (max-width: 1000px) {
    .topbar {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    .topbar__logo {
        display: none;
    }
}
