.aboutWrapper {
    display: grid;
    justify-content: center;
    margin-top: 1rem;
}

.description {
    margin-top: 2rem;
    margin-inline: auto;
    max-width: 90ch;
    text-wrap: pretty;
    line-height: 1.4;

    & strong {
        font-weight: var(--fw-bold);
        color: var(--clr-theme-2);
        filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.15));
        font-size: 1.1rem;
    }

    & p {
        text-indent: 1.5rem;
    }
    h2:first-of-type {
        margin-block: 0 0.35rem;
    }

    h2,
    h3 {
        font-size: 1.5rem;
        margin-block: 2.5rem 0.5rem;
        color: var(--clr-theme-2);
        text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
    }
    h3:last-of-type{
        text-shadow: none;
        filter: none;
    }

    ul {
        margin-block: 1rem 1rem;

        width: fit-content;

        margin-inline: auto;
    }
    li {
        margin-block: 0.25rem;
        line-height: 1.35;

        &:before {
            content: "- ";
            margin-inline-start: 2rem;
        }
    }

    & a {
        color: var(--clr-link-default);

        &:hover, &:focus-visible {
            font-weight: var(--fw-bold);
        }
    }
}

.description:has(> p) {
    margin-top: 1.5rem;
    & h3:nth-last-of-type(1) {
        text-align: center;
        margin-block: 3rem 4rem;
        font-size: 1.25rem;
        color: var(--clr-black);
    }
    p:last-of-type {
        text-align: center;
    }
}
