.aboutWrapper {
    --_font-shadow: 8px;
    --_font-blur: 10px;
    display: grid;
    justify-content: center;
    h1 {
        font-size: clamp(1rem, 1.25rem + 0.5vw, 1.7rem);
        text-align: center;
        margin-block: 0.25rem 1rem;
        color: white;
        text-shadow:
            var(--_font-shadow) 0px var(--_font-blur) var(--clr-theme-2),
            calc(-1 * var(--_font-shadow)) 0px var(--_font-blur) var(--clr-theme-2),
            0px var(--_font-shadow) var(--_font-blur) var(--clr-theme-2),
            0px calc(-1 * var(--_font-shadow)) var(--_font-blur) var(--clr-theme-2);
        filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.1));
        filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.3));
    }
    .logo {
        width: 90%;
        height: 100%;
        margin-inline: auto;
        padding-right: 1rem;
        display: block;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        flex-grow: 0;
        flex-shrink: 0;
    }
}
.description {
    margin-top: 2rem;
    margin-inline: auto;
    max-width: 80ch;
    text-wrap: pretty;
    line-height: 1.4;

    & strong {
        font-weight: var(--fw-bold);
        color: var(--clr-theme-2);
        filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.15));
        font-size: 1.1rem;
    }

    & p {
        text-indent: 1.5rem;
    }
    h2:first-of-type {
        margin-block: 0 0.35rem;
    }

    h2,
    h3 {
        font-size: 1.25rem;
        margin-block: 2.5rem 0.5rem;
        color: var(--clr-theme-2);
        filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.15));
    }

    ul {
        margin-block: 1rem 1rem;

        width: fit-content;

        margin-inline: auto;
    }
    li {
        margin-block: 0.25rem;
        line-height: 1.35;

        &:before {
            content: "- ";
            margin-inline-start: 2rem;
        }
    }

    & a {
        color: var(--clr-link-default);

        &:hover {
            font-weight: var(--fw-bold);
        }
    }
}

.description:nth-last-child(1) {
    margin-block-start: 0.25rem;
    & h3:nth-last-of-type(1) {
        text-align: center;
        margin-block: 3rem;
        font-size: 1.25rem;
        color: var(--clr-black);
    }
}
