.dropDownMenu {
    --_border_radius: 0.5rem;
    --_border_clr: rgba(0, 0, 0, 0.2);

    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    min-width: max-content;
    background-color: var(--clr-white);
    color: var(--clr-black);

    border: 1px solid var(--_border_clr);
    border-bottom-left-radius: var(--_border_radius);
    border-bottom-right-radius: var(--_border_radius);
    border-top-right-radius: var(--_border_radius);
    box-shadow: 0px 5px 15px var(--_border_clr);

    opacity: 0;
    overflow: hidden;
    transition:
        display 0.25s cubic-bezier(0.1, 0.76, 0.58, 1),
        opacity 0.25s cubic-bezier(0.1, 0.76, 0.58, 1);
    transition-behavior: allow-discrete;
    & a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0.5rem 0.75rem;
    }
    & li:not(:last-child) {
        border-bottom: 1px solid var(--_border_clr);
    }
    & li:hover,
    & li:focus-visible {
        color: var(--clr-white);
        background-color: var(--clr-theme-2);
        outline: 1px solid var(--_border_clr);
    }
}
.open {
    display: grid;
    opacity: 1;
    @starting-style {
        display: grid;
        opacity: 0;
    }
}

.sideBar {
    --_border_clr: rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: start;

    min-width: max-content;
    background-color: var(--clr-white);
    color: var(--clr-black);

    border: 1px solid var(--_border_clr);

    box-shadow: 0px 5px 15px var(--_border_clr);

    & a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0.5rem 0.75rem;
    }
    & li {
        border-bottom: 1px solid var(--_border_clr);
    }
    & li:hover,
    & li:focus-visible {
        color: var(--clr-white);
        background-color: var(--clr-theme-2);
        outline: 1px solid var(--_border_clr);
    }
}
